parameters:
    level: 7
    paths:
        - src/
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    bootstrapFiles:
        - tests/bootstrap.php
    ignoreErrors:
        - '#Call to method awsSqs\(\) on an unknown class .+AutoCompletion#'
        - '#Call to method sqs\(\) on an unknown class .+AutoCompletion#'
